.settings {
  display: grid;
  gap: var(--space-3);
  padding-bottom: var(--space-3);
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.current {
  margin-top: var(--space-2);
  font-weight: 500;
}

.progress-size {
  margin-top: var(--space-2);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
